pre {
    padding: 0;
    background: none;
    border: none;
    display: block;
padding: 9.5px;
margin: 0 0 10px;
font-size: 13px;
overflow: auto;
color: #333;
word-break: break-all;
word-wrap: break-word;
background-color: #f5f5f5;
border: 1px solid #ccc;
border-radius: 4px;
}

pre code {
    overflow-x: auto;
    white-space: pre;
}

.language-onec8 {
    color: blue;
    /* font-family: "Consolas", "JetBrains Mono", "Courier New", Courier, monospace; */
    font-size: 1.1em;
}

.hljs {
    display: block;
    padding: 0.5em;
    background: #fff;
    /* color: black; */
}

.language-onec8 .hljs-comment {
    color: #008200;
}

.language-onec8 .hljs-keyword {
    color: red;
}

.language-onec8 .hljs-special_symbols {
    color: red;
}

.language-onec8 .hljs-string {
    color: black;
}

.language-onec8 .hljs-number {
    color: black;
}

.language-onec8 .hljs-preprocessor {
    color: #963200;
}
